<strong>Olá, {{ provider }}</strong>
<p>
  Houve um cancelamento de horário, configura os detalhes abaixo:
</p>
<p>
  <strong>CLiente: </strong> {{ user }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
</p>
<small>
  O horário está disponível para novos agendamentos
</small>
<br />
